body, ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw; 
  max-width: 100%; 
  height: 70vh; 
  margin: 0; 
  overflow: hidden; 
}

.locations-header {
  font-weight: bold; 
  text-align: center; 
  font-size: larger; 
  padding: 20px 0; 
  font-family: "Playfair Display";
}

.carousel-container, .locations-container {
  height: 100%;
  margin: 0;
  padding: 0; 
}

.carousel-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex: 0 0 45%;
  justify-content: center; 
  align-items: center; 
  padding: 0;
}

.carousel {
  width: 100%;
}

.carousel img {
  max-width: 100%; 
  max-height: 100%;
  display: none;
  object-fit: cover; 
}

.carousel img.active {
  display: block; 
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; 
}

.carousel-btn {
  background-color: #ffce47; 
  border: none; 
  border-radius: 50%; 
  width: 30px; 
  height: 30px;
  color: rgb(0, 0, 0); 
  font-size: 1.2rem;
  align-items: center; 
  justify-content: center; 
  display: flex; 
  cursor: pointer; 
  line-height: 30px; 
  background-size: contain;
  line-height: 30px; 
  font-size: 1.5rem; 
  font-weight: bold;
}

.carousel-btn:hover {
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}

.carousel-btn.left {
  left: 0;
}

.carousel-btn.right {
  right: 0;
}

.locations-container {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  flex: 0 0 55%;
  align-items: stretch; 
  text-align: center;
  background-color: #fea362; 
  padding: 0; 
}

.regions-container {
  display: flex;
  justify-content: space-between; 
  font-family: "Playfair Display";
  align-items: center; 
  flex-wrap: wrap; 
}

.region {
  width: calc(50% - 10px); 
  padding: 10px; 
}


.region a img {
  transition: transform 0.3s ease;
  width: 40px; 
  height: auto;
}

.region a:hover img {
  transform: scale(1.1);
}

.region h3 {
  font-size: 1rem; 
}

.region p {
  font-size: 0.9em; 
}


.icon {
  margin: 0 auto; 
  transition: transform 0.5s; 
}

.icon:hover {
  transform: rotate(360deg); 
}


.orange-bg, .purple-bg {
  width: 100%; 
  display: flex; 
  flex-wrap: wrap; 
}