*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #fe7606, #fec300);
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.adventure-type-filter,
.cost-per-person-filter {
  display: flex;
  align-items: center;
}

.adventure-type-filter label,
.cost-per-person-filter label {
  margin-right: 10px;
}

.range-slider {
  display: flex;
  align-items: center;
}

.range-slider input[type="range"] {
  width: 200px;
  margin: 0 10px;
  position: relative;
}

.range-slider span {
  min-width: 60px;
  text-align: center;
}

.range-slider input[type="range"]::after {
  content: attr(value);
  position: absolute;
  top: -30px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #f524e0;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.filter-actions {
  display: flex;
  gap: 10px;
}

.apply-filters-btn,
.clear-filters-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
}

.clear-filters-btn {
  background-color: #e74c3c;
}

.tour-packages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.tour-package {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.tour-package:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tour-package img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
  object-fit: cover;
  display: block; 
}

.no-results {
  grid-column: 1 / -1;
  text-align: center;
}